<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WexAI ile proje entegresi">
    <title>WexAI</title>
    <link href="https://fonts.cdnfonts.com/css/google-sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.hizliresim.com/dgaicqp.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="modal-wexai">
        <div class="modal">
            <div class="modal-baslik">
                <h2>Genel Ayarlar</h2>
                <button class="kapat-btn">&times;</button>
            </div>
            <div class="modal-body">
                <form id="genel-ayarlar">
                    <div class="genel-ayar-container">
                        <div class="ayar">
                            <label for="dil">Dil Seçin:</label>
                            <select id="dil" name="dil">
                                <option value="tr">Türkçe</option>
                                <option value="en">İngilizce</option>
                                <option value="ru">Rusça</option>
                                <option value="de">Almanca</option>
                            </select>
                        </div>
                        <div class="ayar">
                            <label for="tema">Tema:</label>
                            <select id="tema" name="tema">
                                <option value="light">Aydınlık</option>
                                <option value="dark">Koyu</option>
                            </select>
                        </div>
                    </div>
                    <div class="genel-ayar-container">
                        <div class="ayar">
                            <label for="para-birim">Para Birimi:</label>
                            <select id="para-birim" name="para-birim">
                                <option value="tl">TL - Türk Lirası</option>
                                <option value="usd">USD - Dolar</option>
                                <option value="eur">EUR - Euro</option>
                                <option value="rub">RUB - Ruble</option>
                                <option value="gbp">GBP - Sterlin</option>
                            </select>
                        </div>
                        <div class="ayar">
                            <label for="zaman">Zaman Dilimi:</label>
                            <select id="zaman" name="zaman">
                                <option value="utc">UTC</option>
                                <option value="istanbul">Istanbul</option>
                                <option value="new_york">New York</option>
                                <option value="london">London</option>
                            </select>
                        </div>
                    </div>
                    <div class="ayar">
                        <button type="submit" class="kaydet-btn">Ayarları Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-wexai" id="yardim-modal">
        <div class="modal">
            <div class="modal-baslik">
                <h2>WexAI Projesi</h2>
                <button class="kapat-btn" onclick="yardimKapat()">&times;</button>
            </div>
            <div class="modal-body">
                <h3>Proje Amacı</h3>
                <p style="border-bottom: 2px solid #3C3D3D; padding-bottom: 15px;">Bu projede HTML5 ve CSS bilgilerimi
                    tazeleyip, fonksiyon ve işlevsellik için Javascript, GeminiAI entegresi için Python kullanarak
                    yeteneklerimi bir arada buluşturdum.</p>
                <br>
                <p><strong>Sohbetler:</strong> Uygulamada bulunan tüm sohbetlere hızlıca erişebileceğiniz bölüm.</p>
                <p><strong>Ayarlar:</strong> Uygulama ayarlarınızı değiştirebilirsiniz. (Dil, tema, para birimi, zaman
                    dilimi vb.)</p>
                <p><strong>Yardım:</strong> Yardım almak ve uygulama hakkında bilgi edinmek için bu bölüme
                    tıklayabilirsiniz.</p>
                <p style="border-bottom: 2px solid #3C3D3D; padding-bottom: 15px;"><strong>IP Konumu:</strong>
                    Kullanıcının IP adresine göre aldığı konumu gösterir.</p>
                <h3 style="border-bottom: 2px solid #3C3D3D; padding-bottom: 15px; margin-top: 10px;">Sosyal Medya
                    Hesaplarım</h3>
                <div class="sosyal-medya">
                    <a href="https://github.com/wexbie" target="_blank">
                        <img src="https://cdn-icons-png.freepik.com/512/3291/3291695.png" alt="GitHub"
                            class="sosyalmedya-ikon">
                    </a>
                    <a href="https://www.linkedin.com/in/wexbie" target="_blank">
                        <img src="https://cdn-icons-png.freepik.com/512/1384/1384046.png" alt="LinkedIn"
                            class="sosyalmedya-ikon">
                    </a>
                    <a href="https://x.com/wexbie_dev" target="_blank">
                        <img src="https://cdn-icons-png.freepik.com/512/5968/5968830.png" alt="X"
                            class="sosyalmedya-ikon">
                    </a>
                    <a href="https://instagram.com/eyupaslnn" target="_blank">
                        <img src="https://cdn-icons-png.freepik.com/512/5968/5968780.png" alt="Instagram"
                            class="sosyalmedya-ikon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav">
        <div class="yenisohbet">
            <span class="material-symbols-outlined ekle">
                add
                <span class="sohbet-content">Yeni Sohbet</span>
            </span>
        </div>
        <div class="son-sohbetler">
            <h6 class="sonsohbet">En son</h6>
            <span id="chat" class="material-symbols-outlined messages">
                chat_bubble <b> </b> <span class="son-message">WexAI Kurucusu Kimdir ?</span>
            </span>
        </div>
        <div class="sidenav-secenekler">
            <button class="sidenav-butonu ayar-on-pencere">
                <span class="material-symbols-outlined sidenav-ikonu">settings</span>
                <span class="sidenav-yazisi">Ayarlar</span>
            </button>
            <button class="sidenav-butonu" onclick="yardimAc()">
                <span class="material-symbols-outlined sidenav-ikonu">help</span>
                <span class="sidenav-yazisi">Yardım</span>
            </button>
            <button class="sidenav-butonu" onclick="window.location.href='https://linkedin.com/in/wexbie';">
                <span class="material-symbols-outlined sidenav-ikonu">prompt_suggestion</span>
                <span class="sidenav-yazisi">LinkedIN</span>
            </button>
        </div>
        <div id="ayarlarMenu" class="dropdown-menu" style="display: none;">
            <a class="dropdown-item" href="#">Seçenek 1</a>
            <a class="dropdown-item" href="#">Seçenek 2</a>
            <a class="dropdown-item" href="#">Seçenek 3</a>
        </div>
        <div class="lokasyon">
            <button id="lokasyon" class="sidenav-butonu">
                <span class="sidenav-ikonu material-symbols-outlined">location_on</span>
                <div class="sidenav-bilgiler">
                    <div id="konumBilgisi" class="sidenav-yazisi">Konum Bilgisi Çekiliyor...</div>
                </div>
            </button>
        </div>
    </div>
    <div class="sidekapali">
        <div class="navbar">
            <span class="material-symbols-outlined menu" id="menuButton">
                menu
            </span>
            <span class="logo-wexai wexrainbow" style="animation: rainbow 1.8s linear 1; cursor: pointer;"
                onclick="window.location.href='/';">WexAI</span>
            <span class="profil">
                <img src="https://i.hizliresim.com/o1ca7zz.png" alt="" draggable="false">
            </span>
        </div>
        <div class="wexbody">
            <div class="hosgeldin">
                <div class="wexmidedibiri">
                    <h1 class="sagakaydır">
                        <span class="wexrainbow">Merhaba Wexbie,</span>
                        <br>
                        <span class="wexsorusor">Bugün nasıl yardımcı olabilirim?</span>
                    </h1>
                    <div class="prompt-container">
                        <div class="prompt-kutu" onclick="sendPromptMessage('Beni Şaşırt?')">
                            <h5>Beni Şaşırt?</h5>
                        </div>
                        <div class="prompt-kutu" onclick="sendPromptMessage('İstanbul Hava Durumu')">
                            <h5>İstanbul Hava Durumu</h5>
                        </div>
                        <div class="prompt-kutu" onclick="sendPromptMessage('Kod Yaz')">
                            <h5>Kod Yaz</h5>
                        </div>
                        <div class="prompt-kutu" onclick="sendPromptMessage('Genel Kültür')">
                            <h5>Genel Kültür</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-container">
                <div id="chat-box" class="chat-box">
                    <!-- $$$ $$$$ $$$ -->
                </div>
                <div class="yazcontain">
                    <div class="inputcevre">
                        <input type="text" id="mesaj" placeholder="Mesajınızı buraya yazın">
                        <label for="file-upload" class="material-symbols-outlined add-resim">add_photo_alternate</label>
                        <input id="file-upload" type="file" name="Filedata" accept=".jpg,.jpeg,.png,.webp"
                            style="display: none;">
                        <span class="material-symbols-outlined mikrofon" id="mikrofon">mic</span>
                        <audio id="audio-element" style="display: none;"></audio>
                        <button id="gonder" class="material-symbols-outlined gonder gonder-hidden">send</button>
                    </div>
                </div>
                <div class="gizlilikvehaklar">
                    <p>Wexbie, doğruluğu garanti etmez, bu nedenle verilen bilgileri doğrulamanız önemlidir. Kişisel
                        gizliliğiniz
                        bizim
                        için önceliktir.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/wex.js') }}"></script>
</body>

</html>